:root {
	color-scheme: light dark;
	color: rgba(29, 28, 28, 0.87);
	background: linear-gradient(35deg, #8b509d, #f5f5f5);
	background-repeat: no-repeat;
	height: 100vh;
	width: auto;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}
